@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

#main {
  background-color: #031634;
  height: 100vh;
}

#TopDisplay {
  color: #CDB380;
}

#BottomDisplay {
  color: #E8DDCB;
}

.carrier {
  color: #DB3026;
}

.battleship {
  color:#E88A25;
}

.cruiser {
  color: #F9E14B;
}

.submarine {
  color: #EFED89;
}

.destroyer {
  color: #7ABF66;
}

.hit {
  color: red;
}

.miss {
  color: white;
}

.target {
  font-size: 1.5em;
}

.clickable:hover {
  cursor: pointer;
}
