@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

#main {
  background-color: #031634;
  height: 100vh;
}

#TopDisplay {
  color: #CDB380;
}

#BottomDisplay {
  color: #E8DDCB;
}

.target {
  font-size: 1.5em;
}